<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="example">
        <h2>1. 绑定监听 </h2>
        <button v-on:click="test1">test11111111111</button>
        <button @click="test2('xxxx')">test22222222222</button>
        <button @click="test3('mmmm', $event)">test333333333</button> <!-- 如果既想传参，又想要event -->
        <!-- 可以理解为 -->
        <button @click="($event) => {test3('mmmm', $event)}">test333333333</button>
        <button onclick=' (($event) => console.log("mmmm","$event"))()'>333</button>
        <!--  原理箭头函数传参$event 特定的点击事件   -->


        <h2>2. 事件修饰符</h2>
        <!-- 
            事件处理的2个重要操作
            1.  阻止事件的默认行为
            2， 停止事件冒泡
         -->
        <a href="https://fanyi.baidu.com/?aldtype=16047#en/zh/" @click.prevent='test4'>百度翻译/阻止默认行为</a>
        
        <div style="width: 200px;height: 200px;background: red;" @click='test5'>
            <!-- <div style="width: 100px;height: 100px;background: blue;" @click.stop='test6'></div> -->
            <div style="width: 100px;height: 100px;background: blue;" @click='test6'></div>
        </div>

        <button  @click.once= 'test7'>只能执行一次</button>



        <h2>3. 按键修饰符 </h2>
        <input type="text" v-model="msg" @keyup.13= 'test8'>
        <input type="text" v-model="msg" @keyup.enter= 'test8'>

    </div>


    <script src='./vue.js'> </script>
    <script>
        Vue.config.productionTip = false //不显示没使用生产环境模式的提示
        new Vue({
            el: '#example',
            data: {
                msg:''
            },
            methods: {
                test1(event) {
                    alert(event.target.innerHTML)
                },

                test2(name) {
                    alert(name)
                },

                test3(name, event) { //写e 或者 event都可以
                    alert(name + '-----' + event.target.innerHTML)
                },

                test4(event) {
                    // event.preventDefault();      //阻止默认行为

                    // alert('点击了链接')
                },
                test5(event) {

                    alert('out')
                },
                test6(event) {
                    event.stopPropagation()  //阻止事件冒泡
                    alert('inner')
                },
                test7(event) {
                    alert('once')
                },
                test8(){
                    // if(event.keyCode ===13){
                        alert(this.msg)
                    // }
                    
                }
            }
        })


        //阻止事件冒泡 stopPropagation
        //阻止默认行为 preventDefault
    </script>
</body>

</html>